---
import { getCollection, render } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import Meta from "@/components/Meta";
import MarkdownContentWrapper from "@/components/MarkdownContentWrapper.astro";
import { StyledText } from "@/components/StyledText";
import { blogPath } from "@/lib/nav";

import type { GetStaticPaths } from "astro";

// Get static paths
export const getStaticPaths = (async () => {
  return blogPath
    ? (await getCollection("blog")).map((page) => ({
        params: {
          blogPost: `${blogPath?.path}/${page.id}`,
        },
        props: {
          page,
        },
      }))
    : [];
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { Content } = await render(page);
---

<BaseLayout pageTitle={page.data.title}>
  <main class="layout-base justify-items-center py-8">
    <MarkdownContentWrapper>
      <Fragment slot="heading">
        <StyledText as="h2" variant="displayLG">
          {page.data.title}
        </StyledText>
        <Meta tags={page.data.tags} linked />
      </Fragment>
      <Content slot="content" />
    </MarkdownContentWrapper>
  </main>
</BaseLayout>
