---
import { ButtonLink } from "@/components/ButtonLink";
import { StyledText } from "@/components/StyledText";
import SubscribeForm from "@/components/SubscribeForm/SubscribeForm";
import SocialMediaLinks from "@/components/SocialMediaLinks";

import config from "@/site.config.json";
const { left, form, give } = config.footer;
---

<footer class="bg-accent text-accent-foreground layout-base py-8">
  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
    <section class="flex flex-col gap-8">
      <h2 class="sr-only">Address & Contact Info</h2>
      {
        left.sections.map((section) => (
          <div class="flex flex-col">
            <StyledText
              as="h3"
              variant="heading"
              className="pb-2"
              set:html={section.heading}
            />
            <div set:html={section.description} />
          </div>
        ))
      }

      <SocialMediaLinks client:idle />
    </section>

    {
      form.active && (
        <section class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <StyledText as="h2" variant="heading" set:html={form.heading} />
            <div set:html={form.description} />
          </div>
          <SubscribeForm client:idle />
        </section>
      )
    }

    <section class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <StyledText as="h2" variant="heading" set:html={give.heading} />
        <div set:html={give.description} />
      </div>
      <ButtonLink target="_blank" href={give.link} variant="footer-button"
        >Give</ButtonLink
      >
    </section>
  </div>
</footer>
