---
import { NavMenu } from "@/components/NavMenu";
import { Sidebar } from "@/components/Sidebar";
import { StyledText } from "@/components/StyledText";
import { menu } from "@/lib/getMenuItems";
import { Image } from "astro:assets";
import { type ImageMetadata } from "astro";
import { getEntry } from "astro:content";
const logoImage = import.meta.glob<{ default: ImageMetadata }>(`src/assets/*`);

const config = await getEntry("config", "siteconfig");

const currentPath = Astro.url.pathname;
---

<header
  class:list={["layout-full py-4 h-26", currentPath !== "/" && "bg-muted"]}
>
  <div class="flex w-full items-center">
    {
      config?.data.header?.logo ? (
        <a href="/" class="flex-1">
          <h2 class="sr-only">{config.data.general.name}</h2>
          <Image
            src={logoImage[`/${config.data.header.logo}`]()}
            alt="logo"
            class={"max-h-18"}
          />
        </a>
      ) : (
        <StyledText as="h2" variant="displayLG" className="flex-1">
          <a href="/">{config?.data.general.name}</a>
        </StyledText>
      )
    }

    <NavMenu
      className="hidden gap-2 lg:inline-flex items-center flex-wrap"
      menu={menu}
      client:load
    />

    <Sidebar menu={menu} client:load />
  </div>
</header>
